<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Elasticsearch Search</title>
</head>
<body>
    <h1>Welcome to Wine Matcher 101</h1>
    <form method="post" action="/search">
        <label for="query">Tell me the taste you are looking for:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
